@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--font: "Work Sans", sans-serif;

    --color_bg: #E3E9E9;
    --color_fg: #171C1C;

    --color_accent: #40BFBF;
    --color_gray: #798686;
}

[data-theme="dark"] {
    --color_bg: #171C1C;
    --color_fg: #E3E9E9;
}

* {
    font-family: var(--font);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--color_bg);
    color: var(--color_fg);
}
